@CHARSET "UTF-8";

img.img-user {
	width: 26px;
	height: 26px;
}

i.add-blance {
	color: green;
	font-size: 20px;
	padding-top: 3px;
}

i.edit-user {
	color: #8AD4DF;
	font-size: 20px;
	padding-left: 8px;
	padding-top: 3px;
}

div.paging {
	text-align: center;
}

